body {
  font-family: "Merriweather", serif;
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: "Source Sans Pro", sans-serif; */
}
.banner {
  background: linear-gradient(
    to bottom right,
    rgb(118, 40, 163),
    rgb(61, 43, 226),
    rgb(118, 40, 163)
  );
}
.nav {
  background: linear-gradient(
    to right,
    rgb(118, 40, 163),
    rgb(61, 43, 226),
    blueviolet
  );
}
.btn {
  background-color: blueviolet;
  color: white;
}
#navmenu a {
  color: white;
}
#brand a h2 {
  color: white;
}
#brand button span {
  color: white;
}
#name {
  font-size: 60px;
  font-weight: 600;
}
@media (min-width: 1098px) {
  .contact {
    width: 50%;
  }
}
